@import '../../styles/colors';
@import '../../styles/mixins';

.sectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
}

.sectionContainer {
    @include sectionContainer(80%);

    & > h2 {
        @include sectionTitle();
    }
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
}

.searchInput {
    @include inputBackground();
    padding: 10px 15px;
    outline: none;
    transition: 0.3s;

    &:hover, 
    &:focus,
    &:active {
        border-color: $GREEN;
        outline: hidden;

        & + label {
            color: $GREEN;
        }
    }
}

.statisticsNavigator {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $BLACK;
    text-decoration: none;
    transition: all 0.3s;

    & > h4 {
        color: $BLACK;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s;
    }

    &:hover {
        color: rgba($BLACK, 0.4);

        & > h4 {
            color: rgba($BLACK, 0.4);
        }
    }
}

.dataRow {
    & > td:first-child {
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            color: rgba($BLACK, 0.4);
        }
    }

    &  > td:last-child {
        text-wrap: nowrap;
    }
}

.headerRow > th:first-child {
    text-wrap: nowrap;
}