@import '../../styles/colors';

.sectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 0;
}

.sectionContainer {
    width: 60%;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 10px $DARK_GRAY;

    & > h2 {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
}

.searchInput {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid $BLACK;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;

    &:hover, 
    &:focus,
    &:active {
        border-color: $GREEN;
        outline: hidden;

        & + label {
            color: $GREEN;
        }
    }
}

.dataRow {
    & > td:first-child {
        cursor: pointer;
    }

    &  > td:last-child {
        text-wrap: nowrap;
    }
}

.headerRow > th:first-child {
    text-wrap: nowrap;
}