@import '../../styles/colors';
@import '../../styles/mixins';

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.contentContainer {
    @include sectionContainer(80%);

    & > h2 {
        @include sectionTitle;
    }

    & > table {
        margin-top: 20px;
    }
}