@import '../../styles/colors';

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.contentContainer {
    width: 80%;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 10px $DARK_GRAY;

    & > h2 {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }

    & > table {
        margin-top: 20px;
    }
}