.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    text-align: center;

    & > h2 {
        font-weight: 600;
        font-size: 26px;
    }
}